@using Portal.Controllers
@using Aplicacao.ViewModels;
@model ContratoMensalistaViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controller = ViewContext.Controller as ContratoMensalistaController;
}

@section pagespecific{
    @Styles.Render("~/content/css/shared/menu-administrativo-config.css")
    @Styles.Render("~/Scripts/plugin/chosen_v1.8.2/chosen.css")
    @Scripts.Render("~/Scripts/plugin/chosen_v1.8.2/chosen.jquery.js")
    @Scripts.Render("~/Scripts/jquery.moneymask.js")
    @Scripts.Render("~/Scripts/funcoes-uteis.js")
    @Scripts.Render("~/Scripts/cliente/cliente-autocomplete.js")
    @Scripts.Render("~/Scripts/ContratoMensalista/ContratoMensalista.js")
}
<div id="content">
    <div>
        <section id="widget-grid" class="">
            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget no-margin-bottom" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
                            <h2>
                                Cadastro de Contratos de Mensalistas
                            </h2>
                        </header>
                        <div>
                            <div class="widget-body">
                                @using (Html.BeginForm("SalvarDados", "ContratoMensalista", FormMethod.Post, new { id = "ContratoMensalistaForm" }))
                                {
                                    @Html.HiddenFor(cm => cm.PagamentoCadastro, new { id = "hdnPagamentoCadastro", @value = "false" })
                                    @Html.HiddenFor(cm => cm.Id, new { id = "hdnContratoMensalista" })
                                    @Html.HiddenFor(cm => cm.TabelaPrecoMensalista.Id, new { id = "TabelaPrecoMensalistaSelecionada" })
                                    
                                    <div id="conteudo" class="row col-xs-12">
                                        <div class="col-xs-2">
                                            <label>Cliente:</label><br />
                                            @Html.TextBoxFor(p => p.Cliente.Descricao, new { id = "clientes", @class = "form-control" })
                                            @Html.HiddenFor(x => x.Cliente.Id, new { id = "cliente" })
                                            @Html.HiddenFor(x => x.Cliente.Descricao, new { id = "clienteText" })
                                        </div>
                                        <div class="col-xs-2">

                                            <label>Tipo de Mensalista:</label><br />

                                            @Html.DropDownListFor(x => x.TipoMensalista.Descricao
                                                         , new SelectList(controller.ListaTipoMensalista, "Id", "Descricao")
                                                         , "Selecione..."
                                                         , new
                                                         {
                                                             @id = "cbContratoMensalista_TipoMensalista"
                                                                 ,
                                                             @class = "form-control chosen-select"
                                                                 ,
                                                             data_placeholder = "Selecione..."
                                                         })

                                        </div>
                                        <div class="col-xs-2">
                                            <label>Unidade:</label><br />
                                            @Html.DropDownListFor(x => x.Unidade.Id, new SelectList(string.Empty, "Value", "Text"), "Selecione uma unidade...", new { @id = "unidade", @class = "chosen-select form-control", data_placeholder = "Selecione uma unidade..." })
                                            
                                            <input type="hidden" id="UnidadeSelecionada" value="@(Model != null ? Model.Unidade.Id : 0)" /> 
                                        </div>
                                        <div class="col-xs-2">
                                            <label>Data de Vencimento (Primeiro Boleto)</label>
                                            @Html.TextBoxFor(x => x.DataVencimento, new { @id = "dtVencimento", Value = Model != null && Model.DataVencimento > System.Data.SqlTypes.SqlDateTime.MinValue.Value ? Model.DataVencimento.ToString("dd/MM/yyyy") : string.Empty, @class = "form-control fieldDate" })
                                            @Html.ValidationMessageFor(x => x.DataVencimento, "Informe a Data de Vencimento!", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-xs-2">
                                            <label>Número de Vagas</label>
                                            @Html.TextBoxFor(x => x.NumeroVagas, new { @id = "numero-vagas", @class = "form-control" })
                                        </div>

                                        <div class="col-xs-12 col-md-2">
                                            <label>Vagas compartilhadas com a Frota?</label>
                                            @Html.CheckBoxFor(x => x.Frota, new { @id = "frota", @class = "form-control" })
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row col-xs-12">
                                            <div class="col-xs-2">
                                                <label>Valor por vaga: </label>
                                                @Html.TextBoxFor(x => x.Valor, new { @id = "txtValor", @class = "form-control" })

                                                @Html.ValidationMessageFor(x => x.Valor, "Informe um valor do contrato válido!", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-xs-2">
                                                <label>Código do Contrato:</label>
                                                @Html.TextBoxFor(x => x.NumeroContrato, new { @id = "txtCodContrato", @class = "form-control", type = "number", min = "0" })
                                                @Html.ValidationMessageFor(x => x.NumeroContrato, "Informe o código do contrato!", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-xs-2">
                                                <label>Data de Início</label>
                                                @Html.TextBoxFor(x => x.DataInicio, new { @id = "dtInicio", Value = Model != null && Model.DataInicio > System.Data.SqlTypes.SqlDateTime.MinValue.Value ? Model.DataInicio.ToString("dd/MM/yyyy") : string.Empty, @class = "form-control fieldDate" })
                                                @Html.ValidationMessageFor(x => x.DataInicio, "Informe a Data Inicio!", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-xs-2">
                                                <label>Data de Fim</label>
                                                @Html.TextBoxFor(x => x.DataFim, new { @id = "dtFim", Value = Model != null && Model.DataFim > System.Data.SqlTypes.SqlDateTime.MinValue.Value ? Model.DataFim.Value.ToString("dd/MM/yyyy") : string.Empty, @class = "form-control fieldDate" })
                                            </div>
                                            <div class="col-xs-2">
                                                <label>Horário de Início</label>
                                                @Html.TextBoxFor(x => x.HorarioInicio, new { @id = "HorarioInicio", @class = "form-control horario", @type = "time" })
                                            </div>
                                            <div class="col-xs-2">
                                                <label>Horário de Fim</label>
                                                @Html.TextBoxFor(x => x.HorarioFim, new { @id = "HorarioFim", @class = "form-control horario", @type = "time" })
                                            </div>
                                        </div>
                                        <div class="row col-xs-12">
                                            <div class="col-xs-2">

                                                <label>Tabela de Preco Mensalista:</label><br />
                                                @Html.DropDownList("cbContratoMensalista_TabelaPrecoMensalista"
                                                        , new SelectList(string.Empty, "Value", "Text")
                                                        , new
                                                        {
                                                            @class = "chosen-select form-control",
                                                            data_placeholder = "Selecione uma tabela..."
                                                        })

                                            </div>
                                            <div class="col-xs-2">
                                                <label>Ativo:</label><br />
                                                @Html.CheckBoxFor(x => x.Ativo, htmlAttributes: new { @checked = true })
                                                @if (ViewBag.PrintFlag ?? false)
                                                {
                                                    <button id="imprimirContrato" type="button" onclick="ImprimirContrato()" class="btn btn-lg btn-primary"><i class="fa fa-print"></i> Imprimir Contrato</button>
                                                }
                                                else
                                                {
                                                    <button id="imprimirContrato" type="button" onclick="ImprimirContrato()" disabled class="btn btn-lg btn-primary"><i class="fa fa-print"></i> Imprimir Contrato</button>
                                                }
                                            </div>
                                            <div class="col-xs-10">
                                                <label>Observação:</label>
                                                @Html.TextAreaFor(x => x.Observacao, new { @id = "Observacao", @class = "form-control" })

                                            </div>
                                        </div>
                                        <div class="row col-xs-12">
                                            <div class="col-xs-4">
                                                <label>Veículos:</label>
                                                <select id="veiculos" class="form-control chosen-select">
                                                    <option value="0">Selecione o veículo</option>
                                                </select>
                                                @*@Html.DropDownList("veiculoId" , new SelectList(ViewBag.VeiculosVB,"Id", "VeiculoFull"), "Selecione", new { @class = "form-control chosen-select" })*@
                                            </div>
                                            <div class="col-xs-2">
                                                <br />
                                                <button type="button" title="Atualizar a lista de veículos do cliente selecionado" class="btn btn-primary" onclick="CarregarVeiculos()" id="btAtualizarListaVeiculos"><i class="fa fa-refresh"></i></button>
                                                <button type="button" title="Adicionar veículo selecionado do cliente ao contrato" class="btn btn-primary" onclick="adicionarVeiculo()" id="add-Veiculo"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </div>
                                        <div class="row margin-bottom-5">
                                            <div id="lista-contratoveiculo-result" class="col-xs-12">
                                                @Html.Partial("../ContratoMensalista/_GridVeiculos", Model != null && Model.Veiculos.Count > 0 ? Model.Veiculos : Session["VeiculosAdicionados"] != null ? (List<VeiculoViewModel>)Session["VeiculosAdicionados"] : new List<VeiculoViewModel>())
                                            </div>
                                        </div>
                                        @if (Model == null || Model.Id <= 0)
                                        {
                                            <div class="row col-xs-12 margin-bottom-5">
                                                <div class="col-xs-2 heightline">
                                                    <label>Nº Recibo:</label>
                                                    @Html.TextBoxFor(x => x.NumeroRecibo, new { @id = "nroRecibo", @class = "form-control heightfield", onblur = "somenteNumeros(this)", onkeypress = "validaNumeros(event);", @maxlength = "40" })
                                                </div>
                                                <div class="col-xs-3 heightline">
                                                    <label>Valor Pago:</label>
                                                    @Html.TextBoxFor(x => x.ValorPago, new { @id = "vlrPago", @class = "form-control" })
                                                </div>
                                            </div>
                                        }
                                        <div id="conteudo" class="row margin-bottom-5">
                                            <div class="pull-right margin-right-10">
                                                <a class="btn btn-lg btn-danger" href="/contratomensalista/index"><i class="fa fa-times"></i>&nbsp;Cancelar</a>
                                            </div>
                                            <div class="pull-right margin-right-10">
                                                <button id="salvar" type="submit" class="btn btn-lg btn-primary"><i class="fa fa-save"></i> Salvar</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
                            <h2>
                                Filtro de Registros
                            </h2>
                        </header>
                        <div class="widget-body">
                            <div class="col-xs-12">
                                <div class="col-md-2">
                                    <label>Contrato:</label>
                                    <br />
                                    @Html.TextBox("BuscaNumeroContrato", "", new { @id = "contratoBusca", @class = "form-control" })
                                </div>
                                <div class="col-md-2">
                                    <label>Cliente:</label>
                                    <br />
                                    @Html.TextBox("BuscaNomeCliente", "", new { @id = "nomeBusca", @class = "form-control" })
                                </div>
                                <div class="col-xs-2">
                                    <br />
                                    <div class="pull-right margin-right-10 margin-top-10">
                                        <a class="btn btn-primary" id="buscar" onclick="event.preventDefault(); FiltrarCampos()" tabindex="0"><i class="fa fa-search"></i>&nbsp;Buscar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div id="lista-contrato-mensalista">

            </div>
        </section>
    </div>
</div>
<div id="printar">

</div>
<div id="modalDivBloqueio"></div>