
@using Portal.Controllers
@using Aplicacao.ViewModels;
@model ParametrizacaoLocacaoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controller = ViewContext.Controller as ParametrizacaoLocacaoController;
}

@section pagespecific{
    @Styles.Render("~/content/css/shared/menu-administrativo-config.css")
    @Styles.Render("~/Scripts/plugin/chosen_v1.8.2/chosen.css")
    @Scripts.Render("~/Scripts/plugin/chosen_v1.8.2/chosen.jquery.js")
    @Scripts.Render("~/Scripts/jquery.moneymask.js")
    @Scripts.Render("~/Scripts/ParametrizacaoLocacao/ParametrizacaoLocacao.js")
}

<div id="content">
    <div>
        <section id="widget-grid" class="">
            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
                            <h2>
                                Parametrização Locação - Cadastro
                            </h2>

                        </header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <div class="widget-body">
                                @using (Html.BeginForm("SalvarDados", "ParametrizacaoLocacao", FormMethod.Post))
                                {
                                    @Html.HiddenFor(x => x.Id, new { @id = "ID" })

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-5">
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            <label>Tipo Locação: </label>
                                            @Html.DropDownListFor(x => x.TipoLocacao.Id, new SelectList(controller.ListaTipoLocacao, "Id", "Descricao"), "Selecione...", new { @id = "tipolocacao", @class = "chosen-select form-control", data_placeholder = "Selecione..." })
                                        </div>

                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            <label>Unidade: </label>
                                            @if (Model == null || Model.Id == 0)
                                            {
                                                @Html.ListBoxFor(x => x.ListaUnidades, new SelectList(controller.ListaUnidade, "Id", "Nome"), new { @id = "unidade", @class = "chosen-select", data_placeholder = "Selecione os Menus...", multiple = "" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(equipe => equipe.Unidade.Id, new SelectList(controller.ListaUnidade, "Id", "Nome"), "Selecione...", new { @id = "unidade", @class = "chosen-select form-control", data_placeholder = "Selecione..." })
                                            }
                                        </div>

                                        @if (Model == null || Model.Id == 0)
                                        {
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <label>Selecionar Todas: </label>
                                                <br />
                                                @Html.CheckBox("selecionar", new { @id = "selecionar" })
                                            </div>
                                        }

                                    </div>
                                    <br />
                                    <br />
                                    <div class="row col-xs-12 col-md-12 mobile-content margin-bottom-5 margin-top-10">
                                        <div class="pull-right margin-right-10">
                                            <button id="salvar" type="submit" class="btn btn-lg btn-primary"><i class="fa fa-save"></i> Salvar</button>
                                            <a class="btn btn-lg btn-danger" href="/Parametrizacaolocacao/index"><i class="fa fa-times"></i>&nbsp;Cancelar</a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <!-- row -->
            <div class="row">
                <!-- NEW WIDGET START -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Parametrização de Locação</h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">
                                <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="Filtrar Id" />
                                            </th>
                                            <th class="hasinput">
                                                <input type="text" class="form-control" placeholder="Filtrar Unidade" />
                                            </th>
                                            <th class="hasinput">
                                                <input type="text" class="form-control" placeholder="Filtrar Tipo de Locação" />
                                            </th>
                                            <th class="hasinput">
                                                <input type="text" class="form-control" placeholder="Filtrar Data de Cadastro" />
                                            </th>
                                            <th class="hasinput" style="max-width: 120px; min-width: 120px; width: 1%;" rowspan="1" colspan="1">
                                            </th>
                                        </tr>
                                        <tr>
                                            <th data-hide="phone">Id</th>
                                            <th data-hide="phone">Unidade: </th>
                                            <th data-hide="phone">Tipo Locacao: </th>
                                            <th data-hide="phone">Data Cadastro: </th>
                                            <th data-class="expand">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (controller != null && controller.ListaParametrizacaoLocacao != null)
                                        {
                                            foreach (var m in controller.ListaParametrizacaoLocacao)
                                            {
                                                <tr>
                                                    <td>@m.Id</td>
                                                    <td>@(m.Unidade != null ? m.Unidade.Nome : "")</td>
                                                    <td>@m.TipoLocacao.Descricao</td>
                                                    <td>@m.DataInsercao.ToShortDateString()</td>
                                                    <td>
                                                        <a class="btn btn-primary" href="/ParametrizacaoLocacao/edit/@m.Id"><i class='fa fa-edit'></i></a>
                                                        <a class="btn btn-danger" href="/ParametrizacaoLocacao/delete/@m.Id"><i class="fa fa-remove"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->
                </article>
                <!-- WIDGET END -->
            </div>
            <!-- end row -->
            <!-- end row -->
        </section>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        MetodoUtil();
    });
</script>