@using Aplicacao.ViewModels
@using Portal.Controllers
@model FilialViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controller = ViewContext.Controller as FilialController;
}

@section pagespecific{
    @Styles.Render("~/content/css/shared/menu-administrativo-config.css")
    @Scripts.Render("~/Scripts/Grupo/Grupo.js")
}

<link href="../content/css/filial/filial.css" rel="stylesheet" />

<div id="content">
    <div class="jarviswidget" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
            <h2>
                Cadastro de Filial
            </h2>
        </header>
        <div>
            <div class="widget-body">
                @using (Html.BeginForm("SalvarDados", "Filial", FormMethod.Post))
                {
                    <fieldset>
                        <section>
                                <div class="col-md-12 mobile-content">
                                    <div class="row">
                                        <div class="col-md-6 mobile-content">
                                            <label>Empresa:</label><br/>
                                            @Html.DropDownListFor(x => x.CodigoEmpresa, new SelectList(controller.ListaEmpresas, "Id", "Descricao"), "Selecione a Empresa...", new {@class = "form-control", @id = "empresa"})
                                            @Html.ValidationMessageFor(x => x.InscricaoEstadual, "Campo deve ser preenchido!", new {@class = "text-danger"})
                                        </div>

                                        <div class="col-md-6 mobile-content">
                                            <label>Tipo Filial:</label><br/>
                                            @Html.DropDownListFor(x => x.CodigoTipoFilial, new SelectList(controller.ListaTipoFiliais, "Id", "Nome"), "Selecione o Tipo de Filial...", new {@class = "form-control", @id = "tipoFilial"})
                                            @Html.ValidationMessageFor(x => x.InscricaoEstadual, "Campo deve ser preenchido!", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 mobile-content">
                                    @Html.HiddenFor(x => x.Id)
                                    <label>Filial:</label><br />
                                    @Html.TextBoxFor(x => x.Descricao, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Descricao, "Campo deve ser preenchido!", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-12 mobile-content">
                                    <label>Razao Social:</label><br />
                                    @Html.TextBoxFor(x => x.RazaoSocial, new { @class = "form-control", @id = "razao_social" })
                                    @Html.ValidationMessageFor(x => x.RazaoSocial, "Campo deve ser preenchido!", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-12 mobile-content">
                                    <label>CNPJ:</label><br />
                                    @Html.TextBoxFor(x => x.CNPJ, new { @class = "form-control", @id = "cnpj", @maxlength = "18" })
                                    @Html.ValidationMessageFor(x => x.CNPJ, "Campo deve ser preenchido!", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-12 mobile-content">
                                    <label>Inscricao Estadual:</label><br />
                                    @Html.TextBoxFor(x => x.InscricaoEstadual, new { @class = "form-control", @id = "inscricao_social" })
                                    @Html.ValidationMessageFor(x => x.InscricaoEstadual, "Campo deve ser preenchido!", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-12 no-padding">
                                    @Html.Partial("../Contact/_SearchAddressByCEP", Model != null && Model.Endereco != null ? Model.Endereco : new EnderecoViewModel())
                                </div>
                                <div class="col-md-12 no-padding">
                                    @Html.Partial("../Contact/_Contacts", Model != null && Model.Contatos != null ? Model.Contatos : new List<ContatoViewModel>())
                                </div>
                        </section>
                    </fieldset>

                    <div class="form-actions">
                        <button id="salvar" type="submit" class="btn btn-lg btn-primary"><i class="fa fa-save"></i> Salvar</button>
                        <a class="btn btn-lg btn-danger" href="/filial/index"><i class="fa fa-times"></i>&nbsp;Cancelar</a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div>
        <section id="widget-grid" class="">
            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Filiais </h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding">
                                <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="hasinput" style="width:5%">
                                                <input type="text" class="form-control" placeholder="Filtrar Id" />
                                            </th>
                                            <th class="hasinput" style="width:28%">
                                                <input type="text" class="form-control" placeholder="Filtrar Filial" />
                                            </th>
                                            <th class="hasinput" style="width:17%">
                                                <input type="text" class="form-control" placeholder="Filtrar Razão Social" />
                                            </th>
                                            <th class="hasinput" style="width:13%">
                                                <input type="text" class="form-control" placeholder="Filtrar CNPJ" />
                                            </th>
                                            <th class="hasinput" style="width:13%">
                                                <input type="text" class="form-control" placeholder="Filtrar Inscrição Estadual" />
                                            </th>
                                            <th class="hasinput" style="width:13%">
                                                <input type="text" class="form-control" placeholder="Filtrar Empresa" />
                                            </th>
                                            <th class="hasinput" style="width:13%">
                                                <input type="text" class="form-control" placeholder="Filtrar Tipo Filial" />
                                            </th>
                                        </tr>
                                        <tr>
                                            <th data-hide="phone">Id</th>
                                            <th data-class="expand">Filial</th>
                                            <th data-hide="phone">Razão Social</th>
                                            <th data-hide="phone">CNPJ</th>
                                            <th data-hide="phone">Inscrição Estadual</th>
                                            <th data-hide="phone">Empresa</th>
                                            <th data-hide="phone">Tipo Filial</th>
                                            <th data-class="expand">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (controller != null && controller.ListaFiliais != null)
                                        {
                                            foreach (var m in controller.ListaFiliais)
                                            {
                                                <tr>
                                                    <td>@m.Id</td>
                                                    <td>@m.Descricao</td>
                                                    <td>@m.RazaoSocial</td>
                                                    <td>@m.CNPJ</td>
                                                    <td>@m.InscricaoEstadual</td>
                                                    <td>
                                                        @if (m.Empresa != null)
                                                        {
                                                            @m.Empresa.Descricao

                                                        }
                                                        else
                                                        {
                                                            <span>-</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (m.TipoFilial != null)
                                                        {
                                                            @m.TipoFilial.Nome

                                                        }
                                                        else
                                                        {
                                                            <span>-</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-primary" href="/filial/edit/@m.Id"><i class='fa fa-edit'></i></a>
                                                        <a class="btn btn-danger" href="/filial/delete/@m.Id"><i class="fa fa-remove"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
</div>
<script>
    $("#cnpj").on("keyup", function (e) {
        $(this).val(
            $(this).val()
                .replace(/\D/g, '')
                .replace(/^(\d{2})(\d{3})?(\d{3})?(\d{4})?(\d{2})?/, "$1.$2.$3/$4-$5"));
    });
</script>