@using Entidade.Uteis
@model List<MensalistaViewModel>

<div style="margin-top: 20px;">
    <div>
        <h3>Mensalista</h3>
        @Html.Hidden("id")
        <fieldset>
            <section>
                <div class="col-md-9">
                    <div class="col-md-3">
                        <label>Mensalista:</label>
                        @Html.TextBox("nomeMensalista", "", new { @class = "form-control nomeMensalista",maxlength = 20,onclick = "ConfigurarMoney()" })
                    </div>
                    <div class="col-md-3">
                        <label>Valor:</label>
                        @Html.TextBox("valorMensalista", "", new { @class = "form-control valorMensalista valmoney", onclick = "ConfigurarMoney()" })
                    </div>
                    <div class="col-md-3">
                        <span class="btn btn-primary" id="add-mensalista" onclick="adicionarMensalista()" style="margin-top:11%;"><i class="fa fa-plus-circle"></i>&nbsp; Adicionar Mensalista</span>
                    </div>
                </div>

            </section>
        </fieldset>
    </div>
</div>
@if (Model != null && Model.Any())
{
    <div style="margin-top:50px;">
        <div class="col-xs-6">
            <table id="data_table_address" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width: 1%; display:none;"></th>
                        <th style="width: 50%;">Mensalista</th>
                        <th style="width: 30%;">Valor</th>
                        <th style="width: 20%;">Ações</th>
                    </tr>
                </thead>
                <tbody>

                    @for (var x = 0; x < Model.Count; x++)
                    {
                    <tr class="line-blacklist">
                        <td style="display:none;">@Model[x].Id</td>
                        <td>
                            @Model[x].Descricao
                        </td>
                        <td>
                            @Model[x].Valor.ToString("F")
                        </td>
                        <td>
                            @*<span class="btn btn-primary" style="margin-right: 2px;" onclick="editarMensalista(@Model[x].Id)"><i class="fa fa-edit"></i></span>*@
                            <span class="btn btn-danger" style="margin-right: 3px;" onclick="removerMensalista(@Model[x].Id)"><i class="fa fa-remove"></i></span>
                        </td>
                    </tr>
                    }
                  
                </tbody>
            </table>
        </div>
    </div>
}