@using Portal.Controllers
@using Aplicacao.ViewModels;
@using Entidade.Uteis
@model BloqueioReferenciaViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var controller = ViewContext.Controller as BloqueioReferenciaController;
}

@section pagespecific{
    @Styles.Render("~/content/css/shared/menu-administrativo-config.css")
    @Styles.Render("~/content/css/BloqueioReferencia/BloqueioReferencia.css")
    @Scripts.Render("~/Scripts/funcoes-uteis.js")
    @Scripts.Render("~/Scripts/BloqueioReferencia/BloqueioReferencia.js")
    @Scripts.Render("~/Scripts/jquery.inputmask.bundle.js")
}

<div id="content">
    <div>
        <section id="widget-grid" class="">
            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
                        <h2>
                            Bloqueio Referência
                        </h2>

                    </header>
                    <div>
                        <div class="widget-body">
                            @using (Html.BeginForm("SalvarDados", "BloqueioReferencia", FormMethod.Post, FormMethod.Post, new { id = "BloqueioReferenciaForm" }))
                            {
                                @Html.HiddenFor(x => x.Id)
                                <div id="conteudo" class="row margin-bottom-5">
                                    <div class="col-xs-12 col-md-1">
                                        <div class="col-xs-12 no-padding">
                                            <label>Mês/Ano: </label>
                                            <br />
                                            @Html.TextBoxFor(x => x.DataMesAnoReferencia, new { @id = "dtReferencia", Value = Model != null && Model.DataMesAnoReferencia > System.Data.SqlTypes.SqlDateTime.MinValue.Value ? Model.DataMesAnoReferencia.ToString("MM/yyyy") : DateTime.Now.ToString("MM/yyyy"), @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-3">
                                        <div class="col-xs-12 no-padding">
                                            <label>Ativo: </label>
                                            <br />
                                            @Html.CheckBoxFor(x => x.Ativo, new { @checked = true, style = "width:20px; height:20px;" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row margin-bottom-5">
                                    <div class="pull-right margin-right-10">
                                        <a class="btn btn-lg btn-danger" href="/bloqueioreferencia/index"><i class="fa fa-times"></i>&nbsp;Cancelar</a>
                                    </div>
                                    <div class="pull-right margin-right-10">
                                        <button type="submit" id="salvar" class="btn btn-lg btn-primary">
                                            <i class="fa fa-save"></i> Salvar
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="jarviswidget col-xs-12 col-md-12 no-padding" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
                            <h2>
                                Lista de Registros
                            </h2>
                        </header>
                        <div id="lista-registros" class="row col-xs-12 col-md-12 no-padding">
                        </div>
                    </div>
                </div>
        </section>
    </div>
</div>