@using Portal.Controllers
@using Aplicacao.ViewModels;
@model EquipeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controller = ViewContext.Controller as EquipeController;
}

@section pagespecific{
    @Styles.Render("~/content/css/shared/menu-administrativo-config.css")
    @Styles.Render("~/Scripts/plugin/chosen_v1.8.2/chosen.css")
    @Scripts.Render("~/Scripts/plugin/chosen_v1.8.2/chosen.jquery.js")
    @Scripts.Render("~/Scripts/jquery.moneymask.js")
    @Scripts.Render("~/Scripts/Equipe/Equipe.js")
}
<div id="content">
    <div>
        <section id="widget-grid" class="">
            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget no-margin-bottom" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
                            <h2>
                                Cadastro de Equipe
                            </h2>
                        </header>
                        <div>
                            <div class="widget-body">
                                @using (Html.BeginForm("SalvarDados", "Equipe", FormMethod.Post, new { id = "EquipeForm" }))
                                {
                                    @Html.HiddenFor(equipe => equipe.Id, new { @id = "hdnEquipe" })

                                    <div class="row col-xs-12">
                                        <div class="col-xs-2">
                                            <label>Nome da Equipe:</label><br />
                                            @Html.TextBoxFor(equipe =>
                                      equipe.Nome
                                      , new
                                      {
                                          @id = "nomeEquipe"
                                              ,
                                          @class = "form-control"
                                      })

                                        </div>
                                        <div class="col-xs-2">

                                            <label>Unidade:</label><br />

                                            @Html.DropDownListFor(equipe => equipe.Unidade.Id
                              , new SelectList(controller.ListaUnidade, "Id", "Nome")
                              , "Selecione..."
                              , new
                              {
                                  @id = "unidadeEquipe"
                                      ,
                                  @class = "form-control chosen-select"
                                      ,
                                  data_placeholder = "Selecione..."
                              })

                                        </div>
                                        <div class="col-xs-2">

                                            <label>Tipo Equipe:</label><br />

                                            @Html.DropDownListFor(equipe => equipe.TipoEquipe.Id
                             , new SelectList(controller.ListaTipoEquipe, "Id", "Descricao")
                             , "Selecione..."
                             , new
                             {
                                 @id = "tipoEquipe"
                                     ,
                                 @class = "form-control chosen-select"
                                     ,
                                 data_placeholder = "Selecione..."
                             })

                                        </div>
                                    </div>
                                    <div>
                                        <div class="row col-xs-12">
                                            <div class="col-xs-2">
                                                <label>Data Fim</label>
                                                @Html.TextBoxFor(x => x.Datafim, new { @id = "date", Value = Model != null && Model.Datafim > System.Data.SqlTypes.SqlDateTime.MinValue.Value ? Model.Datafim.ToString("dd/MM/yyyy") : string.Empty, @class = "form-control fieldDate" })
                                            </div>
                                            <div class="col-xs-6">

                                                <label>Horário de trabalho:</label><br />
                                                <select id="horarioTrabalho" class="form-control">
                                                    <option value="0">Selecione o horário de trabalho</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="row col-xs-12">
                                            <div class="col-xs-5">
                                                <label>Encarregado:</label><br />
                                                @Html.DropDownListFor(equipe => equipe.IdEncarregado
                                                            , new SelectList(controller.ListaEncarregado, "Id", "Pessoa.Nome")
                                                            , "Selecione..."
                                                            , new
                                                            {
                                                                @id = "encarregadoEquipe"
                                                                    ,
                                                                @class = "form-control chosen-select"
                                                                    ,
                                                                data_placeholder = "Selecione..."
                                                            })
                                            </div>
                                            <div class="col-xs-5">
                                                <label>Supervisor:</label><br />
                                                @Html.DropDownListFor(equipe => equipe.IdSupervisor
                                                            , new SelectList(controller.ListaSupervisor, "Id", "Pessoa.Nome")
                                                            , "Selecione..."
                                                            , new
                                                            {
                                                                @id = "supervisorEquipe"
                                                                    ,
                                                                @class = "form-control chosen-select"
                                                                    ,
                                                                data_placeholder = "Selecione..."
                                                            })
                                            </div>
                                            <div class="col-xs-2">
                                                <label>Ativo:</label><br />
                                                @Html.CheckBoxFor(equipe => equipe.Ativo, new { @checked = "true" })
                                            </div>
                                        </div>
                                        <div class="row margin-bottom-5">
                                            <div id="lista-colaboradores-result" class="col-xs-12">
                                                @Html.Partial("../Equipe/_GridColaboradores", Model != null && Model.Colaboradores.Count > 0 ? Model.Colaboradores : new List<ColaboradorViewModel>())
                                            </div>
                                        </div>
                                        <div id="conteudo" class="row margin-bottom-5">
                                            <div class="pull-right margin-right-10">
                                                <a class="btn btn-lg btn-danger" href="/equipe/index"><i class="fa fa-times"></i>&nbsp;Cancelar</a>
                                            </div>
                                            <div class="pull-right margin-right-10">
                                                <button id="salvar" type="submit" class="btn btn-lg btn-primary"><i class="fa fa-save"></i> Salvar</button>
                                            </div>
                                        </div>
                                    </div>


                                }
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Lista de Equipes</h2>
                        </header>
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->

                            <div id="lista-tabela-equipe">

                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
</div>
