@model Aplicacao.ViewModels.ContasAPagarViewModel
@{
    Layout = null;
}

<div class="widget-body">
    <div id="conteudo" class="row margin-bottom-5">
        <div class="col-xs-12 no-padding margin-bottom-10">

            <div class="col-xs-12 col-sm-4">
                <div class="col-xs-12 no-padding">
                    <label class="col-xs-12 no-padding">Conta Financeira: </label>
                    <div class="col-xs-12 no-padding">
                        @Html.DropDownListFor(x => x.ContaFinanceira.Id, (SelectList)ViewBag.ContaFinanceiraSelectList, "Selecione uma Conta Financeira...", new { @id = "conta-financeira", @class = "chosen-select", data_placeholder = "Selecione uma Conta Financeira..." })
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="col-xs-12 no-padding">
                    <label class="col-xs-12 no-padding">Departamento: </label>
                    <div class="col-xs-12 no-padding">
                        @Html.DropDownListFor(x => x.Departamento.Id, (SelectList)ViewBag.DepartamentoSelectList, "Selecione um Departamento...", new { @id = "departamento", @class = "chosen-select", data_placeholder = "Selecione um Departamento..." })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 no-padding margin-bottom-10">

            <div class="col-xs-12 col-sm-4">
                <div class="col-xs-12 no-padding">
                    <label class="col-xs-12 no-padding">Tipo de Pagamento: </label>
                    <div class="col-xs-12 no-padding">
                        @Html.DropDownListFor(x => x.TipoPagamento, (SelectList)ViewBag.ListaTipoPagamentoSelectList, "Selecione um Tipo de Pagamento...", new { @id = "tipo-pagamento", @class = "chosen-select", data_placeholder = "Selecione um Tipo de Pagamento..." })
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <label class="col-xs-12 no-padding">Data de Vencimento: </label>
                <div class="col-xs-12 no-padding">
                    @Html.TextBoxFor(x => x.DataVencimento, new { @id = "data-vencimento", Value = Model != null && Model.DataVencimento > System.Data.SqlTypes.SqlDateTime.MinValue.Value ? Model.DataVencimento.ToString("dd/MM/yyyy") : string.Empty, @class = "form-control fieldDate" })
                    @Html.ValidationMessageFor(x => x.DataVencimento, "Informe a Data!", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <button type="submit" id="pesquisar" class="btn btn-lg btn-primary pull-right" onclick="Buscar()">
                <i class="fa fa-search"></i> Buscar
            </button>
        </div>
    </div>
</div>