
@model List<VeiculoViewModel>

@{
    Layout = null;
}

<div>
    <input type="hidden" id="hdnIdVeiculo" value="0" />
    @Html.Label("Veiculos", new { style = "font-weight: bold; font-size: 1.17em;" })
    <div id="conteudo" class="row margin-bottom-5">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-2">
                    <label>Modelo:</label>
                    <input type="text" id="cliente-cadastro-modelo" onchange="BuscarMarca()" placeholder="Informe um modelo" class="form-control" />
                    <input id="modelo-id" type="hidden" />
                    <input id="modelo-text" type="hidden" />
                </div>
                <div class="col-xs-12 col-md-2">
                    <label>Marca:</label>
                    <input type="text" id="cliente-cadastro-marca" placeholder="Informe uma marca" class="form-control" />
                    <input id="marca-id" type="hidden" />
                    <input id="marca-text" type="hidden" />
                </div>
                <div class="col-xs-12 col-md-2">
                    <label>Placa:</label>
                    <input type="text" id="placa" class="form-control" maxlength="10" />
                </div>
                <div class="col-xs-12 col-md-2">
                    <label>Cor:</label>
                    <input type="text" id="cor" class="form-control" />
                </div>
                <div class="col-xs-12 col-md-2">
                    <label>Ano:</label>
                    <input type="text" id="ano" class="form-control somente-numeros" maxlength="4" />
                </div>
                <div class="col-md-2" style="height: 65px;top: 30px;">
                    <button class="btn btn-primary" id="adiciona-veiculo" style="margin-top:2px;" onclick="event.preventDefault(); AdicionaVeiculoCadastroCliente()" tabindex="0"><i class="fa fa-plus-circle"></i>&nbsp; Adicionar Veiculo</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 margin-top-30 no-padding">
        <div class="row margin-bottom-5">
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <div class="jarviswidget jarviswidget-color-blueDark margin-bottom-0" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false"
                         data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Veículos</h2>
                        </header>
                        <table id="gridVeiculosCadastroCliente" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th style="display:none">Id</th>
                                    <th style="display:none">IdMarca</th>
                                    <th style="display:none">IdModelo</th>
                                    <th>Modelo</th>
                                    <th>Marca</th>
                                    <th>Placa</th>
                                    <th>Cor</th>
                                    <th>Ano</th>
                                    <th class="hasinput" style="max-width: 120px; min-width: 120px; width: 1%;" rowspan="1" colspan="1">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    for (var x = 0; x < Model.Count; x++)
                                    {
                                        var veiculo = Model[x];
                                        <tr>
                                            <td style="display:none">
                                                @veiculo.Id
                                            </td>
                                            <td style="display:none">
                                                @veiculo.Modelo.Marca.Id
                                            </td>
                                            <td style="display:none">
                                                @veiculo.Modelo.Id
                                            </td>
                                            <td class="col-xs-3">
                                                @veiculo.Modelo.Marca.Nome
                                            </td>
                                            <td class="col-xs-3">
                                                @veiculo.Modelo.Descricao
                                            </td>
                                            <td class="col-xs-1" style="min-width:100px">
                                                @veiculo.Placa
                                            </td>
                                            <td class="col-xs-2">
                                                @veiculo.Cor
                                            </td>
                                            <td class="col-xs-1">
                                                @veiculo.Ano
                                            </td>
                                            <td class="col-xs-1">
                                                <span class="btn btn-primary" style="margin-right: 10px;" onclick="EditaVeiculoCadatroCliente(@veiculo.Id)"><i class="fa fa-edit"></i></span>
                                                <span class="btn btn-danger" onclick="RemoveVeiculoCadatroCliente(@veiculo.Id)"><i class="fa fa-remove"></i></span>
                                            </td>
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

