@using Entidade.Uteis
@model List<FolhaPresencaFuncionarioViewModel>

<div class="col-xs-12 margin-top-20 margin-bottom-20">
    @Html.Partial("~/Views/Shared/_PaginacaoGenericaAjax.cshtml")

    <table id="tableitem" class="table table-striped table-bordered margin-bottom-0">
        <thead>
            <tr>
                <th data-hide="expand" class="select-item">
                    <input type="checkbox" onChange="AltenarSelecionarTudo(this)" autocomplete="off" class="form-control center-block no-float">
                </th>
                <th>Supervisor</th>
                <th>Funcionário</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr class="item">
                        <td class="select-item">
                            <div class="col-xs-12 nopadding input-group">
                                <input @(item.Selecionado ? "checked" : "") name="selecionalinha" type="checkbox" onChange="AlternarItemSelecionado(@item.Funcionario.Id, this)" autocomplete="off" class="item-checkbox form-control center-block no-float">
                            </div>
                        </td>
                        <td>
                            @(item.Funcionario.Supervisor?.Pessoa?.Nome)
                        </td>
                        <td>
                            @(item.Funcionario.Pessoa.Nome)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    @Html.Partial("~/Views/Shared/_PaginacaoGenericaAjax.cshtml")
</div>