@using Portal.Controllers
@using Aplicacao.ViewModels;
@model FolhaPresencaViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section pagespecific {
    @Styles.Render("~/content/css/shared/menu-administrativo-config.css")
    @Styles.Render("~/Scripts/plugin/chosen_v1.8.2/chosen.css")
    @Scripts.Render("~/Scripts/plugin/chosen_v1.8.2/chosen.jquery.js")
    @Scripts.Render("~/Scripts/jquery.moneymask.js")
    @Scripts.Render("~/Scripts/funcoes-uteis.js")
    @Scripts.Render("~/Scripts/FolhaPresenca/folha-presenca.js")
    @Scripts.Render("~/Scripts/Funcionario/supervisor-autocomplete.js")
    @Scripts.Render("~/Scripts/Funcionario/funcionario-autocomplete.js")
}

<div id="content">
    <div>
        <section id="widget-grid" class="">
            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
                            <h2>
                                Folha de Presença
                            </h2>
                        </header>
                        <div class="widget-body">
                            <div id="conteudo">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-3">
                                            <label>Supervisor:</label><br />
                                            @Html.TextBox("Supervisor", "", new { id = "supervisores", @class = "form-control" })
                                            @Html.Hidden("HiddenSupervisor", "", new { id = "supervisor" })
                                        </div>

                                        <div class="col-xs-12 col-md-3">
                                            <label>Funcionário:</label><br />
                                            @Html.TextBox("Funcionario", "", new { id = "funcionarios", @class = "form-control" })
                                            @Html.Hidden("HiddenFuncionario", "", new { id = "funcionario" })
                                        </div>

                                        <div class="col-xs-12 col-md-3">
                                            <button class="btn btn-primary" style="margin-top: 23px" onclick="BuscarFolhaPresenca(1, true)">Buscar</button>
                                        </div>
                                    </div>
                                </div>

                                <div id="lista-funcionarios">
                                    @Html.Partial("_Grid", new List<FolhaPresencaFuncionarioViewModel>())
                                </div>

                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <div class="col-xs-12 no-padding">
                                                <label>Observação: </label>
                                                @Html.TextArea("Observacao", "", new { @id = "observacao", @class = "form-control no-resize", @maxlength = "50", @rows = "3" })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-3">
                                            <div class="col-xs-12 no-padding">
                                                <label>Ano: </label>
                                                @Html.DropDownList("Ano", new SelectList(ViewBag.Anos, "Id", "Descricao"), "Selecione um...", new { @id = "ano", @class = "form-control chosen-select", data_placeholder = "Selecione um..." })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-3">
                                            <div class="col-xs-12 no-padding">
                                                <label>Mês: </label>
                                                @Html.DropDownList("Mes", new SelectList(ViewBag.Meses, "Id", "Descricao"), "Selecione um...", new { @id = "mes", @class = "form-control chosen-select", data_placeholder = "Selecione um..." })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-lg btn-danger" onclick="Imprimir()">Imprimir</button>
                                        <a id="botao-impressao" class="btn btn-danger" style="display: none" target="_blank" href="@Url.Action("Impressao", "FolhaPresenca")">Impressao</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
</div>