@using System
@using Portal.Controllers
@model KeyValuePair<Aplicacao.ViewModels.EmissaoSeloViewModel, TabelaPrecoAvulsoViewModel>

@{
    ViewBag.Title = "Protocolo - Emissão de Selo";
    Layout = null;
    var controller = ViewContext.Controller as EmissaoSeloController;
}

<html>
<head>
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/paper.css" rel="stylesheet" />
    <link href="~/Content/css/EmissaoSelo/emissaoSelo.css" rel="stylesheet" />

    <style>
        @@media print {
            @@page {
                size: A4 portrait !important;
            }
        }

        @@page {
            size: A4 portrait !important;
        }

        footer {
            height: 100px;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    </style>
</head>

<body class="A4 portrait" style="background: white !important;" onload="window.print(); window.close();">
    <section class="sheet nopadding">
        <div class="selo">
            <div class="row col-xs-12 margin-top-20">
                <img src="~/Content/img/logo.png" style="width: 100px;" />
            </div>
            <div class="row">
                <div class="col-xs-12 text-left margin-top-20">
                    À
                </div>
                <div class="col-xs-12 text-left">
                    @(Model.Key.PedidoSelo.Cliente.TipoPessoa == Entidade.Uteis.TipoPessoa.Juridica ? (Model.Key.PedidoSelo.Cliente.RazaoSocial ?? Model.Key.PedidoSelo.Cliente.NomeFantasia) : Model.Key.PedidoSelo.Cliente.Pessoa.Nome)
                </div>
                <div class="col-xs-12 text-left margin-top-20">
                    Unidade: @Model.Key.PedidoSelo.Unidade.Nome
                </div>
                <div class="col-xs-push-2 col-xs-8 text-align-center margin-top-20 margin-bottom-20">
                    RECIBO DE SOLICITAÇÃO DE SELO
                </div>
                <div class="col-xs-push-2 col-xs-8 text-align-center">
                    Data de Emissão: @(Model.Key.DataInsercao.ToShortDateString())
                </div>
                <div class="col-xs-push-2 col-xs-8 text-align-center">
                    Data de Vencimento: @(Model.Key.Validade != null ? Model.Key.Validade.Value.ToShortDateString() : "____/____/________")
                </div>

                <div class="col-xs-10 col-xs-push-1 margin-top-20">
                    <table width="100%" class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th>Qtde.</th>
                                <th>Período</th>
                                <th>Valor Unitário</th>
                                <th>Valor Total</th>
                                <th>Sequência</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.Key.PedidoSelo.Quantidade</td>
                                <td>@(Model.Key != null && Model.Key.PedidoSelo != null && Model.Key.PedidoSelo.TipoSelo != null ? Model.Key.PedidoSelo.TipoSelo.Nome : "________ às ________")</td>
                                <td>@(Model.Key.Selo.FirstOrDefault().Valor.ToString("N2"))</td>
                                <td>@(Model.Key.Selo.Sum(x => x.Valor).ToString("N2"))</td>
                                <td>@(Model.Key.Selo.FirstOrDefault().Sequencial) à @(Model.Key.Selo.LastOrDefault().Sequencial)</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>@Model.Key.Selo.Count</td>
                                <td></td>
                                <td></td>
                                <td>@(Model.Key.Selo.Sum(x => x.Valor).ToString("N2"))</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row margin-top-20">
                <div class="col-xs-push-1 col-xs-10 text-align-center margin-bottom-20">
                    Declaro(amos) que recebi(emos) o(s) selo(s) numerado(s) sequencialmente acima descrito.
                </div>
                <div class="col-xs-push-2 col-xs-8 text-align-center margin-top-20">
                    ____/____/_________
                </div>
                <div class="col-xs-push-2 col-xs-8 text-align-center margin-bottom-20">
                    Data
                </div>
                <div class="col-xs-push-2 col-xs-8 text-align-center margin-top-20">
                    ___________________________________________
                </div>
                <div class="col-xs-push-2 col-xs-8 text-align-center margin-bottom-20">
                    Nome Legível
                </div>
                <div class="row margin-top-20">
                    <div class="col-xs-push-1 col-xs-10 text-right font-size-10">
                        Emitido em: @(DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss"))
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="row margin-bottom-10">
                <div class="col-xs-push-1 col-xs-10 text-align-center">
                    ADMINISTRAÇÃO - Rua Maria Paula, 123 - 18º Andar - CEP 01319-000 - Centro - São Paulo - SP
                    <br />
                    Tel.: (0xx11) 3106-1406 - Fax: (0xx11) 3106-1869 - E-mail: trevo@estacionamentostrevo.com.br
                </div>
            </div>
        </footer>
    </section>
</body>
</html>