@using Portal.Controllers

@model Aplicacao.ViewModels.ParametroNotificacaoViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controller = ViewContext.Controller as ParametroNotificacaoController;
}

@section pagespecific{

    @Scripts.Render("~/Scripts/ParametroNotificacao/ParametroNotificacao.js")
    @Styles.Render("~/content/css/shared/menu-administrativo-config.css")
    @Styles.Render("~/Scripts/plugin/chosen_v1.8.2/chosen.css")
    @Scripts.Render("~/Scripts/plugin/chosen_v1.8.2/chosen.jquery.js")
}


<div id="content">
    <div>
        <section id="widget-grid" class="">
            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
                            <h2>
                                Parâmetro de Notificação
                            </h2>
                        </header>
                        <div>
                            <div class="widget-body">
                                @using (Html.BeginForm("SalvarDados", "ParametroNotificacao", FormMethod.Post, new { id = "ParametroNotificacaoForm" }))
                                {
                                    @Html.HiddenFor(parametronotificacao => parametronotificacao.Id, new { @id = "hdnParametroNotificacao" })

                                   
                                    <div class="col-xs-6 col-md-6 mobile-content">
                                        <label>Tipo Notificação:</label><br />
                                        @Html.DropDownListFor(x=>x.TipoNotificacao.Id
                                                        , new SelectList(controller.ListaTiposNotificacao, "Id", "Descricao")
                                                        , "Selecione..."
                                                        , new
                                                        {
                                                            @id = "cbTipoNotificacao",
                                                            @class = "form-control chosen-select",
                                                            data_placeholder = "Selecione..."
                                                        })
                                    </div>
                                    <div class="col-xs-12 col-md-12 mobile-content">
                                        <label>Usuários Aprovadores:</label><br />
                                        @Html.ListBoxFor(x=>x.IdAprovadores,
                                                        new SelectList(controller.ListaUsuarios, "Id", "Funcionario.Pessoa.Nome"),
                                                        new { @id = "aprovadores",
                                                            @class = "chosen-select",
                                                            data_placeholder = "Selecione os Usuários...",
                                                            multiple = "" })
                                    </div>

                                    <div class="row col-xs-12 col-md-12 mobile-content margin-bottom-5 margin-top-10">
                                        <div class="pull-right margin-right-10">
                                            <button type="submit" class="btn btn-lg btn-primary margin-right-10">
                                                <i class="fa fa-save"></i> Salvar
                                            </button>
                                            <a class="btn btn-lg btn-danger" href="/parametronotificacao/index"><i class="fa fa-times"></i>&nbsp;Cancelar</a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Lista de Registros</h2>
                        </header>
                        <div>
                            <div class="row margin-bottom-5">
                                <div class="col-xs-12">
                                    @Html.Partial("../ParametroNotificacao/_GridParametroNotificacao",controller.ListaParametros)
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
</div>

