@using Portal.Controllers
@model Entidade.Banco

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controller = ViewContext.Controller as BancoController;
}

@section pagespecific{
    @Styles.Render("~/content/css/shared/menu-administrativo-config.css")
}
<script>

    $(document).ready(function () {

        $("#BancoForm").submit(function (e) {
            var dadosValidos = true;

            if ($("#CodigoBanco").val() == "") {
                toastr.error('Informe o Código do Banco', 'Campo obrigatório');
                dadosValidos = false;
            }
            else if ($("#Descricao").val() == "") {
                toastr.error('Informe a Descrição do Banco', 'Campo obrigatório');
                dadosValidos = false;
            }

            if (!dadosValidos) {
                e.preventDefault();
                return false;
            }

        });
    });

</script>

<div id="content">
    <div>
        <section id="widget-grid" class="">
            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
                            <h2>
                                Cadastro de Banco
                            </h2>

                        </header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <div class="widget-body">
                                @using (Html.BeginForm("Salvar", "Banco", FormMethod.Post,new { id="BancoForm" }))
                                {
                                    @Html.HiddenFor(x => x.Id)
                                    @Html.LabelFor(x => x.CodigoBanco, "Codigo do Banco: ", new { @class = "espacoControle" })
                                    @Html.EditorFor(x => x.CodigoBanco)
                                    @Html.ValidationMessageFor(x => x.CodigoBanco, "Campo deve ser preenchido!", new { @class = "text-danger" })
                                    <br />
                                    <br />
                                    @Html.LabelFor(x => x.Descricao, "Nome do Banco: ", new { @class = "espacoControle" })
                                    @Html.EditorFor(x => x.Descricao)
                                    @Html.ValidationMessageFor(x => x.Descricao, "Campo deve ser preenchido!", new { @class = "text-danger" })
                                    <div class="form-actions">
                                        <button id="salvar" type="submit" class="btn btn-lg btn-primary"><i class="fa fa-save"></i> Salvar</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <!-- row -->
            <div class="row">
                <!-- NEW WIDGET START -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Bancos</h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">
                                @if (controller != null && controller.ListaBancos != null)
                                {

                                    <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control" placeholder="Filtrar Codigo" />
                                                </th>
                                                <th class="hasinput" style="width:70%">
                                                    <input type="text" class="form-control" placeholder="Filtrar Nome" />
                                                </th>
                                                <th class="hasinput" style="max-width: 120px; min-width: 120px; width: 1%;" rowspan="1" colspan="1">
                                                </th>
                                            </tr>
                                            <tr>
                                                <th data-hide="phone">Codigo</th>
                                                <th data-hide="phone">Banco: </th>
                                                <th data-class="expand">Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (controller != null && controller.ListaBancos != null)
                                            {
                                                foreach (var m in controller.ListaBancos)
                                                {
                                                    <tr>
                                                        <td>@m.CodigoBanco</td>
                                                        <td>@m.Descricao</td>
                                                        <td>
                                                            <a class="btn btn-primary" href="/banco/edit/@m.Id"><i class='fa fa-edit'></i></a>
                                                            <a class="btn btn-danger" href="/banco/delete/@m.Id"><i class="fa fa-remove"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>

                                }
                                else
                                {
                                    <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">
                                        <tr>
                                            <td>
                                                Nenhum banco foi encontrado.
                                            </td>
                                        </tr>
                                    </table>
                                }
                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->
                </article>
                <!-- WIDGET END -->
            </div>
            <!-- end row -->
            <!-- end row -->
        </section>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        MetodoUtil();
    });
</script>