@using Core.Extensions
@using Entidade.Uteis
@using Portal.Controllers
@model dynamic

@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controller = ViewContext.Controller as UploadController;
}

@section pagespecific{
    @Styles.Render("~/content/css/upload/upload.css")
    @Styles.Render("~/content/css/shared/menu-administrativo-config.css")
    @Styles.Render("~/Scripts/plugin/chosen_v1.8.2/chosen.css")
    @Scripts.Render("~/Scripts/plugin/chosen_v1.8.2/chosen.jquery.js")
    @Scripts.Render("~/Scripts/funcoes-uteis.js")
    @Scripts.Render("~/Scripts/upload/upload.js")
}

<div id="content">
    <div class="jarviswidget" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
            <h2>
                Pesquisa
            </h2>
        </header>
        <div>
            <div class="widget-body">
                @using (Html.BeginForm("UploadArquivo", "Upload", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-xs-12">
                            <div>
                                <div class="col-md-12 no-padding">
                                    <label>Arquivo:</label><br />
                                    <input type="file" name="fileUploader" id="file-upload" class="btn btn-default file" style="width: 200px;" accept="application/octet-stream" />
                                    <div class="input-group col-xs-12">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-save-file"></i></span>
                                        <input id="file-upload-text" type="text" class="form-control input-lg" disabled placeholder="Arquivo...">
                                        <span class="input-group-btn">
                                            <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i> Procurar</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-12 no-padding" style="text-align: right; margin-top: 5px;">
                                    <span type="button" id="btn-upload" style="display: none;" class="btn btn-primary" onclick="uploadArquivo()"><i class="fa fa-upload" aria-hidden="true"></i>&nbsp; Upload</span>
                                    <span type="button" class="btn btn-danger" style="display: none;" id="cancel"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp; Cancelar</span>
                                </div>
                                <div class="row">
                                    @*<div id="arquivos" class="files" style="display:none;">*@
                                    <div id="arquivos" style="display:none;">
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right margin-right-10">
                                <button type="button" id="processar" class="btn btn-primary btn-lg fa-input">
                                    <i class="fa fa-search"></i>&nbsp; Processar
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
