@using Portal.Controllers
@model Aplicacao.ViewModels.OISViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controller = ViewContext.Controller as AberturaOISController;
}

@section pagespecific{
    @Styles.Render("~/content/css/shared/menu-administrativo-config.css")
    @Styles.Render("~/Content/bootstrap/datepicker/bootstrap-datepicker.css")
    @Styles.Render("~/Scripts/plugin/chosen_v1.8.2/chosen.css")
    @Scripts.Render("~/Scripts/plugin/chosen_v1.8.2/chosen.jquery.js")
    @Scripts.Render("~/Scripts/jquery.moneymask.js")
    @Scripts.Render("~/Scripts/funcoes-uteis.js")
    @Scripts.Render("~/Scripts/AberturaOIS/abertura-ois.js")
    @Scripts.Render("~/Scripts/AberturaOIS/ois-funcionario.js")
    @Scripts.Render("~/Scripts/AberturaOIS/ois-categoria.js")
}

<div id="content">
    <div>
        <section id="widget-grid" class="">
            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
                            <h2>
                                Abertura OIS
                            </h2>
                        </header>
                        <div>
                            <div class="widget-body">
                                @using (Html.BeginForm("SalvarDados", "AberturaOIS", FormMethod.Post, new { id = "abertura-ois-form" }))
                                {
                                    @Html.HiddenFor(x => x.Id)

                                    <div id="conteudo" class="row">
                                        <div class="col-xs-12">
                                            <div class="col-xs-12">

                                                <div class="row">

                                                    <div class="row no-margin">
                                                        <div class="col-xs-12 col-md-8">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-md-4">
                                                                    <label>Nome do Cliente: </label>
                                                                    @Html.TextBoxFor(x => x.NomeCliente, new { @id = "nome-cliente", @class = "form-control" })
                                                                </div>

                                                                <div class="col-xs-12 col-md-4">
                                                                    <label>Telefone Fixo: </label>
                                                                    @Html.TextBoxFor(x => x.TelefoneFixo, new { @id = "telefone-fixo", @class = "form-control" })
                                                                </div>

                                                                <div class="col-xs-12 col-md-4">
                                                                    <label>Celular: </label>
                                                                    @Html.TextBoxFor(x => x.Celular, new { @id = "celular", @class = "form-control" })
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-xs-12 col-md-3">
                                                                    <label>Email: </label>
                                                                    @Html.TextBoxFor(x => x.Email, new { @id = "email", @class = "form-control" })
                                                                </div>

                                                                <div class="col-xs-12 col-md-3">
                                                                    <label>Marca: </label>
                                                                    @Html.DropDownListFor(x => x.Marca.Id, new SelectList(controller.ListaMarca, "Id", "Nome"), "Selecione...", new { @id = "marca", @class = "chosen-select form-control", data_placeholder = "Selecione..." })
                                                                </div>

                                                                <div class="col-xs-12 col-md-3">
                                                                    <label>Modelo: </label>
                                                                    @Html.Hidden("HdnModeloId", (Model?.Modelo?.Id.ToString() ?? ""), new { @id = "hdn-modelo" })
                                                                    @Html.DropDownListFor(x => x.Modelo.Id, new SelectList(new List<Entidade.Modelo>(), "Id", "Descricao"), "Selecione o Modelo...", new { @id = "modelo", @class = "chosen-select form-control", data_placeholder = "Selecione o Modelo..." })
                                                                </div>

                                                                <div class="col-xs-12 col-md-3">
                                                                    <label>Tipo: </label>
                                                                    @Html.DropDownListFor(x => x.TipoVeiculo, new SelectList(controller.ListaTipoVeiculo, "Id", "Descricao"), "Selecione...", new { @id = "tipo", @class = "chosen-select form-control", data_placeholder = "Selecione..." })
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-xs-12 col-md-3">
                                                                    <label>Placa: </label>
                                                                    @Html.TextBoxFor(x => x.Placa, new { @id = "placa", @class = "form-control" })
                                                                </div>

                                                                <div class="col-xs-12 col-md-3">
                                                                    <label>Cor: </label>
                                                                    @Html.TextBoxFor(x => x.Cor, new { @id = "cor", @class = "form-control" })
                                                                </div>

                                                                <div class="col-xs-12 col-md-3">
                                                                    <label>Ano: </label>
                                                                    @Html.TextBoxFor(x => x.Ano, new { @id = "ano", @class = "form-control somente-numeros", @maxlength = 4 })
                                                                </div>

                                                                <div class="col-xs-12 col-md-3">
                                                                    <label>Unidade: </label>
                                                                    @Html.DropDownListFor(x => x.Unidade.Id, new SelectList(controller.ListaUnidade, "Id", "Nome"), "Selecione...", new { @id = "unidade", @class = "chosen-select form-control", data_placeholder = "Selecione..." })
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-xs-12 col-md-4">
                                                            @Html.Partial("_Imagens", Model?.ImagensParaSalvar ?? new List<OISImagemViewModel> { new OISImagemViewModel(), new OISImagemViewModel(), new OISImagemViewModel(), new OISImagemViewModel() })
                                                        </div>
                                                    </div>

                                                    @* Categorias *@
                                                    <div class="row no-margin-left no-margin-right">
                                                        <div class="col-xs-12">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-md-6">
                                                                    @Html.Partial("_FormOISCategoria")
                                                                    <div id="lista-ois-categorias">
                                                                        @Html.Partial("_GridOISCategoria", Model != null && Model.OISCategorias != null ? Model.OISCategorias : new List<OISCategoriaViewModel>())
                                                                    </div>
                                                                </div>

                                                                @* Funcionarios *@
                                                                <div class="col-xs-12 col-md-6">
                                                                    @Html.Partial("_FormOISFuncionario")
                                                                    <div id="lista-ois-funcionarios">
                                                                        @Html.Partial("_GridOISFuncionario", Model != null && Model.OISFuncionarios != null ? Model.OISFuncionarios : new List<OISFuncionarioViewModel>())
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row no-margin-left no-margin-right">
                                                        <div class="col-xs-12 col-md-6">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-md-3">
                                                                    <label>Status: </label>

                                                                    @if (Model == null || Model.Id <= 0)
                                                                    {
                                                                        @Html.DropDownListFor(x => x.StatusSinistro, new SelectList(controller.ListaStatusSinistro, "Id", "Descricao", (int)Entidade.Uteis.StatusSinistro.Recebido), "Selecione...", new { @id = "status", @class = "chosen-select form-control", data_placeholder = "Selecione...", @disabled = "disabled" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.DropDownListFor(x => x.StatusSinistro, new SelectList(controller.ListaStatusSinistro, "Id", "Descricao"), "Selecione...", new { @id = "status", @class = "chosen-select form-control", data_placeholder = "Selecione..." })
                                                                    }
                                                                </div>

                                                                <div class="col-xs-12 col-md-9">
                                                                    <label>Observação: </label>
                                                                    @Html.TextAreaFor(x => x.Observacao, new { @id = "observacao", @class = "form-control no-resize", @rows = "5", @maxlength = "200" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-actions">
                                        <button id="salvar" type="submit" class="btn btn-lg btn-primary" value="SalvarDados" name="SalvarDados">Salvar</button>
                                        <a id="cancelar" href="@Url.Action("Index")" class="btn btn-lg btn-danger" value="Cancelar" name="CancelarPedido">Cancelar</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div id="lista-ois">
                @Html.Partial("_Grid", new List<OISViewModel>())
            </div>
        </section>
    </div>
</div>