@using Entidade.Uteis

@model List<NecessidadeCompraMaterialFornecedorViewModel>

<div id="lista-material-fornecedores">
    <div class="row">
        <div class="col-xs-12">
            <table id="tablevigencia" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Material</th>
                        <th>Quantidade</th>
                        <th>Fornecedor</th>
                        <th style="width: 120px">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr class="item-material-fornecedor">
                                <td>@item.Material.Nome</td>
                                <td>@item.Quantidade</td>
                                <td>@item.Fornecedor.Nome</td>
                                <td>
                                    <button type="button" class="btn btn-primary" style="margin-right: 2px;" onclick="editarMaterialFornecedor(@item.Id)"><i class="fa fa-edit"></i></button>
                                    <button type="button" class="btn btn-danger" style="margin-right: 3px;" onclick="removerMaterialFornecedor(@item.Id)"><i class="fa fa-remove"></i></button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>