@using Portal.Controllers
@model Entidade.UnidadeCondomino

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controller = ViewContext.Controller as UnidadeCondominoController;
}

@section pagespecific{
    @Styles.Render("~/content/css/shared/menu-administrativo-config.css")

    @Styles.Render("~/Content/bootstrap/datepicker/bootstrap-datepicker.css")

    @Styles.Render("~/Scripts/plugin/chosen_v1.8.2/chosen.css")
    @Scripts.Render("~/Scripts/plugin/chosen_v1.8.2/chosen.jquery.js")
    @Scripts.Render("~/Scripts/bootstrap/datepicker/bootstrap-datepicker.js")
    @Scripts.Render("~/Scripts/bootstrap/datepicker/bootstrap-datepicker.js")
}

<script type="text/javascript">
    $(document).ready(function () {

        MakeChosen("unidade");
        
        $("#NumeroVagas").change(function () {

            var valor = $(this).val();

            if (valor) {
                if (valor < 0) {
                    $(this).val(0);
                }
            }
        });

        MetodoUtil();
    });
</script>

<div id="content">
    <div>
        <section id="widget-grid" class="">
            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
                            <h2>
                                Vagas Condômino - Unidade
                            </h2>

                        </header>
                        <div>
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <div class="widget-body">
                                @using (Html.BeginForm("Salvar", "UnidadeCondomino", FormMethod.Post))
                                {
                                    @Html.HiddenFor(x => x.Id)

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bottom-5">
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            <label>Unidade: </label>
                                            @Html.DropDownListFor(x => x.Unidade.Id, new SelectList(controller.ListaUnidade, "Id", "Nome"), "Selecione...", new { @id = "unidade", @class = "chosen-select form-control", data_placeholder = "Selecione..." })
                                            <br />
                                            @Html.ValidationMessageFor(x => x.Unidade.Id, "Campo deve ser selecionado!", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            <label>Número Total de Vagas: </label>
                                            <br />
                                            @Html.EditorFor(x => x.NumeroVagas, new { @id = "numerovagas", @class = "chosen-select form-control", @min = "1" })
                                            <br />
                                            @Html.ValidationMessageFor(x => x.NumeroVagas, "Campo deve ser preenchido!", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <br />
                                    <div class="form-actions">
                                        <button id="salvar" type="submit" class="btn btn-lg btn-primary"><i class="fa fa-save"></i> Salvar</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <!-- row -->
            <div class="row">
                <!-- NEW WIDGET START -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Vagas Condômino</h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">
                                <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="hasinput" style="width:10%">
                                                <input type="text" class="form-control" placeholder="Filtrar Id" />
                                            </th>
                                            <th class="hasinput">
                                                <input type="text" class="form-control" placeholder="Filtrar Unidade" />
                                            </th>
                                            <th class="hasinput">
                                                <input type="text" class="form-control" placeholder="Filtrar Total Vagas" />
                                            </th>
                                            <th class="hasinput">
                                                <input type="text" class="form-control" placeholder="Filtrar Vagas Restantes" />
                                            </th>
                                            <th class="hasinput">
                                                <input type="text" class="form-control" placeholder="Filtrar Data de Cadastro" />
                                            </th>
                                            <th class="hasinput" style="max-width: 120px; min-width: 120px; width: 1%;" rowspan="1" colspan="1">
                                            </th>
                                        </tr>
                                        <tr>
                                            <th data-hide="phone">Id</th>
                                            <th data-hide="phone">Unidade: </th>
                                            <th data-hide="phone">Total Vagas: </th>
                                            <th data-hide="phone">Vagas Restantes: </th>
                                            <th data-hide="phone">Data: </th>
                                            <th data-class="expand">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (controller != null && controller.ListaUnidadesCondomino != null)
                                        {
                                            foreach (var m in controller.ListaUnidadesCondomino)
                                            {
                                                <tr>
                                                    <td>@m.Id</td>
                                                    <td>@m.Unidade.Nome</td>
                                                    <td>@m.NumeroVagas</td>
                                                    <td>@(m.NumeroVagasRestantes)</td>
                                                    @*<td>@(m.Unidade.NumeroVaga - m.NumeroVagas)</td>*@
                                                    <td>@m.DataInsercao.ToShortDateString()</td>
                                                    <td>
                                                        <a class="btn btn-primary" href="/UnidadeCondomino/edit/@m.Id"><i class='fa fa-edit'></i></a>
                                                        <a class="btn btn-danger" href="/UnidadeCondomino/delete/@m.Id"><i class="fa fa-remove"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->
                </article>
                <!-- WIDGET END -->
            </div>
            <!-- end row -->
            <!-- end row -->
        </section>
    </div>
</div>

