@using Entidade.Uteis
@model List<ContasAPagarItemViewModel>

<div class="col-xs-12 margin-top-20">
    <table id="tableitem" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Conta Contábil</th>
                <th>Unidade</th>
                <th>Valor</th>
                <th style="width: 80px;">Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr class="item-discritivo">
                        <td>
                            @item.ContaContabil.DescricaoCompleta
                        </td>
                        <td>
                            @(item.Unidade.Nome)
                        </td>
                        <td>
                            @(item.Valor.ToString("N2"))
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="RemoverItem(@item.ContaContabil.Id, @item.Unidade.Id, '@item.Valor')"><i class="fa fa-remove"></i></button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>