@using Entidade.Uteis
@using Portal.Controllers
@model Aplicacao.ViewModels.OficinaViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controller = ViewContext.Controller as OficinaController;
}

@section pagespecific{
    @Styles.Render("~/content/css/shared/menu-administrativo-config.css")
    @Styles.Render("~/Content/bootstrap/datepicker/bootstrap-datepicker.css")
    @Styles.Render("~/Scripts/plugin/chosen_v1.8.2/chosen.css")
    @Scripts.Render("~/Scripts/plugin/chosen_v1.8.2/chosen.jquery.js")
    @Scripts.Render("~/Scripts/jquery.moneymask.js")
    @Scripts.Render("~/Scripts/funcoes-uteis.js")
    @Scripts.Render("~/Scripts/oficina/oficina.js")
}

<div id="content">
    <div>
        <section id="widget-grid" class="">
            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget no-margin-bottom" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
                            <h2>
                                Cadastro de Oficina
                            </h2>
                        </header>
                        <div>
                            <div class="widget-body">
                                @using (Html.BeginForm("SalvarDados", "Oficina", FormMethod.Post, new { id = "oficina-form" }))
                                {
                                    @Html.HiddenFor(x => x.Id, new { @id = "hdnOficina" })

                                    <div class="row margin-bottom-5">
                                        <div class="col-xs-12">
                                            <div class="col-xs-12 col-md-2">
                                                <label>Tipo de pessoa:</label><br />
                                                @Html.DropDownListFor(x => x.TipoPessoa, new SelectList(controller.ListaTipoPessoa, "Id", "Descricao"), "Selecione um Tipo de Pessoa...", new { @id = "tipo-pessoa", @class = "form-control chosen-select", data_placeholder = "Selecione um Tipo de Pessoa..." })
                                            </div>
                                            <div class="col-xs-12 col-md-2 margin-top-20">
                                                @Html.CheckBoxFor(x => x.IndicadaPeloCliente, new { @id = "indicada-pelo-cliente" })
                                                <label for="indicada-pelo-cliente">Indicada pelo Cliente:</label>
                                            </div>
                                            <div id="container-cliente-indicador"  style="display: @(Model != null && Model.IndicadaPeloCliente ? "block" : "none")">
                                                <div class="col-xs-12 col-md-2">
                                                    <label>Nome do Cliente:</label>
                                                    @Html.TextBoxFor(x => x.NomeCliente, new { @id = "nome-cliente", @class = "form-control" })
                                                </div>
                                                <div class="col-xs-12 col-md-2">
                                                    <label>Celular do Cliente:</label>
                                                    @Html.TextBoxFor(x => x.CelularClienteDescricao, new { @id = "celular-cliente-descricao", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="container-pessoa">
                                        <div class="container-pessoa-fisica" style="display: @(Model != null && Model.TipoPessoa == TipoPessoa.Fisica ? "block" : "none")">
                                            <div class="col-xs-12">
                                                <div id="conteudo" class="row margin-bottom-5">
                                                    <div class="col-xs-12">
                                                        <label>Nome:</label>
                                                        @Html.TextBoxFor(x => x.Pessoa.Nome, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div id="conteudo" class="row margin-bottom-5">
                                                    <div class="col-xs-12 col-md-3">
                                                        <label>CPF:</label>
                                                        @Html.HiddenFor(x => x.Pessoa.IdDocumentoCpf, new { @id = "hdnCpf" })
                                                        @Html.TextBoxFor(x => x.Pessoa.Cpf, new { @id = "cpf", @class = "form-control", onchange = "validaCPF(this);" })
                                                    </div>
                                                    <div class="col-xs-12 col-md-3">
                                                        <label>RG:</label>
                                                        @Html.HiddenFor(x => x.Pessoa.IdDocumentoRg, new { @id = "hdnRg" })
                                                        @Html.TextBoxFor(x => x.Pessoa.Rg, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div id="conteudo" class="row margin-bottom-5">
                                                    <div class="col-xs-12 col-md-3">
                                                        <div class="col-xs-12 no-padding">
                                                            <label>Data de Nascimento:</label>
                                                            <br />
                                                            @Html.TextBoxFor(x => x.Pessoa.DataNascimento, new { @id = "dtNascimento", Value = Model != null && Model.Pessoa.DataNascimento.HasValue && Model.Pessoa.DataNascimento != DateTime.MinValue ? Model.Pessoa.DataNascimento.Value.ToString("dd/MM/yyyy") : string.Empty, @class = "form-control fieldDate" })
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-3">
                                                        <div class="col-xs-12 no-padding">
                                                            <label>Gênero:</label>
                                                            <br />
                                                            Masculino
                                                            @Html.RadioButtonFor(x => x.Pessoa.Sexo, "Masculino", new { @class = "margin-right-15", Checked = "checked" })
                                                            Feminino
                                                            @Html.RadioButtonFor(x => x.Pessoa.Sexo, "Feminino")
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container-pessoa-juridica" style="display: @(Model != null && Model.TipoPessoa == TipoPessoa.Juridica ? "block" : "none")">
                                            <div class="col-xs-12">
                                                <div id="conteudo" class="row margin-bottom-5">
                                                    <div class="col-xs-12">
                                                        <label>Nome Fantasia:</label>
                                                        @Html.TextBoxFor(x => x.NomeFantasia, new { @id = "nome_fantasia", @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div id="conteudo" class="row margin-bottom-5">
                                                    <div class="col-xs-12">
                                                        <label>Razao Social:</label>
                                                        @Html.TextBoxFor(x => x.RazaoSocial, new { @id = "razao_social", @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div id="conteudo" class="row margin-bottom-5">
                                                    <div class="col-xs-12 col-md-3">
                                                        <label>CNPJ:</label>
                                                        @Html.TextBoxFor(x => x.Cnpj, new { @id = "cnpj", @class = "form-control", onchange = "validaCNPJ(this);" })
                                                    </div>
                                                    <div class="col-xs-12 col-md-3">
                                                        <label>Inscrição Estadual:</label>
                                                        @Html.TextBoxFor(x => x.InscricaoEstadual, new { @id = "inscricao_social", @class = "form-control" })
                                                    </div>
                                                    <div class="col-xs-12 col-md-3">
                                                        <label>Inscrição Municipal:</label>
                                                        @Html.TextBoxFor(x => x.InscricaoMunicipal, new { @id = "inscricao_municipal", @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row margin-bottom-5">
                                            <div class="col-xs-12">
                                                <div class="col-xs-12 col-md-2">
                                                    <label>Telefone Fixo: </label>
                                                    @Html.TextBoxFor(x => x.Pessoa.Contato.Numero, new { @id = "telefone-fixo", @class = "form-control" })
                                                </div>

                                                <div class="col-xs-12 col-md-2">
                                                    <label>Celular: </label>
                                                    @Html.TextBoxFor(x => x.Pessoa.ContatoCel.Numero, new { @id = "celular", @class = "form-control" })
                                                </div>
                                                <div class="col-xs-12 col-md-2">
                                                    <label>Email: </label>
                                                    @Html.TextBoxFor(x => x.Pessoa.ContatoEmail.Email, new { @id = "email", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row margin-bottom-5">
                                            <div class="col-xs-12">
                                                @Html.Partial("_FormEndereco", Model != null && Model.Pessoa.Endereco != null ? Model.Pessoa.Endereco : new EnderecoViewModel())
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-5">
                                        <div class="pull-right margin-right-10">
                                            <a class="btn btn-lg btn-danger" href="/oficina/index"><i class="fa fa-times"></i>&nbsp;Cancelar</a>
                                        </div>
                                        <div class="pull-right margin-right-10">
                                            <button id="salvar" type="submit" class="btn btn-lg btn-primary"><i class="fa fa-save"></i> Salvar</button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div id="lista-oficinas">
            </div>
        </section>
    </div>
</div>