@using Portal.Controllers
@using Aplicacao.ViewModels;
@model GeracaoCNABLancamentoCobrancaViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controller = ViewContext.Controller as GeracaoCNABLancamentoCobrancaController;
}

@section pagespecific{
    @Styles.Render("~/content/css/shared/menu-administrativo-config.css")
    @Styles.Render("~/content/css/GeracaoCNAB/GeracaoCNAB.css")
    @Styles.Render("~/Scripts/plugin/chosen_v1.8.2/chosen.css")
    @Scripts.Render("~/Scripts/plugin/chosen_v1.8.2/chosen.jquery.js")
    @Scripts.Render("~/Scripts/GeracaoCNABLancamentoCobranca/GeracaoCNABLancamentoCobranca.js")
    @Scripts.Render("~/Scripts/jquery.moneymask.js")
    @Scripts.Render("~/Scripts/funcoes-uteis.js")
}

<div id="content">
    <div>
        <section id="widget-grid" class="">
            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
                            <h2>
                                Geração de CNAB
                            </h2>
                        </header>
                        <div class="widget-body">
                            <div>
                                <div id="conteudo" class="row margin-bottom-20">
                                    <div class="row no-margin">
                                        <div class="col-xs-12 col-md-3">
                                            <div class="col-xs-12 no-padding">
                                                <label>Conta Financeira: </label>
                                                @Html.DropDownListFor(x => x.ContaFinanceira.Id, new SelectList(controller.ListaContaFinanceira, "Id", "Descricao"), "Selecione uma Conta Financeira...", new { @id = "contaFinanceira", @class = "chosen-select", data_placeholder = "Selecione uma Conta Financeira..." })
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-3">
                                            <div class="col-xs-12 no-padding">
                                                <label>Tipo de Serviço: </label>
                                                @Html.DropDownListFor(x => x.TipoServico, new SelectList(controller.ListaTipoServico, "Id", "Descricao"), "Selecione um Tipo...", new { @id = "tipoServico", @class = "chosen-select form-control", data_placeholder = "Selecione um Tipo..." })
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-3">
                                            <div class="col-xs-12 no-padding">
                                                <label>Unidade:</label><br />
                                                @Html.DropDownListFor(x => x.Unidade.Id, new SelectList(controller.ListaUnidade, "Id", "Nome"), "Selecione uma Unidade...", new { @id = "unidade", @class = "chosen-select form-control", data_placeholder = "Selecione uma Unidade..." })
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-3 no-padding">
                                            <div class="col-xs-12 no-padding">
                                                <label>Supervisor:</label><br />
                                                @Html.DropDownListFor(x => x.Unidade.Responsavel.Id, new SelectList(controller.ListaSupervisor, "Id", "Pessoa.Nome"), "Selecione um Supervisor...", new { @id = "supervisor", @class = "chosen-select form-control", data_placeholder = "Selecione um Supervisor..." })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row no-margin">
                                        <div class="col-xs-12 col-md-3">
                                            <div class="col-xs-12 no-padding">
                                                <label>Status: </label>
                                                @Html.DropDownListFor(x => x.StatusLancamentoCobranca, new SelectList(controller.ListaStatusLancamento, "Id", "Descricao"), new { @id = "statusLancamento", @class = "chosen-select form-control", data_placeholder = "Selecione um Status..." })
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-3">
                                            <div class="col-xs-12 no-padding">
                                                <label>Filtrar Por: </label>
                                                @Html.DropDownListFor(x => x.TipoFiltroGeracaoCNAB, new SelectList(controller.ListaTipoFiltro, "Id", "Descricao"), new { @id = "tipoFiltroGeracaoCNAB", @class = "chosen-select form-control", data_placeholder = "Selecione um Tipo..." })
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-3">
                                            <div class="col-xs-12 no-padding">
                                                <label>Cliente: </label>
                                                @Html.TextBoxFor(p => p.Cliente.Descricao, new { id = "clientes", @class = "form-control" })
                                                @Html.HiddenFor(x => x.Cliente.Id, new { id = "cliente" })
                                                @Html.HiddenFor(x => x.Cliente.Descricao, new { id = "clienteText" })
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-1 no-padding">
                                            <label>Data <b>DE</b>:</label><br />
                                            @Html.TextBox("dtInicioFiltro", $"01/{DateTime.Now.Month.ToString("00")}/{DateTime.Now.Year}", new { @id = "dtInicioFiltro", @class = "form-control", @style = "width: 110px;" })
                                        </div>
                                        <div class="col-xs-12 col-md-2 no-padding">
                                            <label>Data <b>ATÉ</b>:</label><br />
                                            @Html.TextBox("dtFimFiltro", $"{DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month)}/{DateTime.Now.Month.ToString("00")}/{DateTime.Now.Year}", new { @id = "dtFimFiltro", @class = "form-control", @style = "width: 110px;" })
                                        </div>
                                        <div class="col-xs-12 col-md-10 margin-top-20">
                                            <div class="pull-right">
                                                <button type="submit" id="pesquisar" class="btn btn-lg btn-primary" onclick="Pesquisar();">
                                                    <i class="fa fa-search"></i> Buscar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div id="conteudo" class="row margin-bottom-20">
                                    <div class="col-xs-12 col-md-2">
                                        <div class="col-xs-12 no-padding">
                                            <label>Data de Vencimento:</label>
                                        </div>

                                        <div class="col-xs-12 no-padding">
                                            @Html.TextBoxFor(x => x.DataVencimento, new { @id = "dtVencimento", Value = Model != null && Model.DataVencimento > System.Data.SqlTypes.SqlDateTime.MinValue.Value ? Model.DataVencimento.ToString("dd/MM/yyyy") : string.Empty, @class = "form-control fieldDate" })
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-3 nopadding">
                                        <div class="col-xs-6 nopadding">
                                            <label>Juros: </label>
                                            <br>
                                            <div class="col-xs-12 nopadding input-group">
                                                <input id="chkJuros" type="checkbox" onclick="HabilitarJuros();" autocomplete="off" class="form-control margin-right-10">
                                                <input id="juros" class="form-control heightfield valmoney" autocomplete="off" style="width: 100px !important;">
                                            </div>
                                        </div>
                                        <div class="col-xs-6 no-padding">
                                            <label>Tipo: </label>
                                            <br />
                                            <select id="dropTipoJuros">
                                                <option value="1">Percentual</option>
                                                <option value="2">Monetario</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-3 nopadding">
                                        <div class="col-xs-6 nopadding">
                                            <label>Multa: </label>
                                            <br>
                                            <div class="col-xs-12 nopadding input-group">
                                                <input id="chkMulta" type="checkbox" onclick="HabilitarMulta();" autocomplete="off" class="form-control margin-right-10">
                                                <input id="multa" class="form-control heightfield valmoney" autocomplete="off" style="width: 100px !important;">
                                            </div>
                                        </div>
                                        <div class="col-xs-6 nopadding">
                                            <label>Tipo: </label>
                                            <br />
                                            <select id="dropTipoMulta">
                                                <option value="1">Percentual</option>
                                                <option value="2">Monetario</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="lista-lancamentoCobrancas">

                            </div>
                            <div class="col-xs-12 col-md-12 nopadding-right">
                                <div class="pull-right margin-top-20">
                                    <a class="btn btn-lg btn-danger" href="/GeracaoCNAB/index"><i class="fa fa-times"></i>&nbsp;Cancelar</a>
                                </div>
                                <div class="pull-right margin-right-10 margin-top-20">
                                    <button type="submit" class="btn btn-lg btn-primary" onclick="GerarCNAB();">
                                        <i class="fa fa-file-o"></i> Gerar CNAB
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
</div>

<div id="modalPagamento" class="modal fade col-xs-12" role="dialog">
    <div class="modal-dialog col-xs-12" style="width: 100% !important;">
        <div class="modal-content col-xs-12">
            <div id="modalBodyPagamento" class="modal-body col-xs-12">

            </div>
        </div>
    </div>
</div>