@using Core.Extensions
@using Entidade
@using Entidade.Uteis
@using Portal.Controllers

@model ParametroNumeroNotaFiscalViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controller = ViewContext.Controller as ParametroNumeroNotaFiscalController;
}
@section pagespecific{
    @Styles.Render("~/content/css/parametrocalculo/parametrocalculo.css")
    @Styles.Render("~/content/css/simuladorcalculo/simulador-calculo.css")
    @Styles.Render("~/content/css/shared/menu-administrativo-config.css")
    @Styles.Render("~/Scripts/plugin/chosen_v1.8.2/chosen.css")
    @Scripts.Render("~/Scripts/plugin/chosen_v1.8.2/chosen.jquery.js")
    @Scripts.Render("~/Scripts/jquery.moneymask.js")
    @Scripts.Render("~/scripts/parametronumeronotafiscal/parametronumeronotafiscal.js")
    @Scripts.Render("~/scripts/funcoes-uteis.js")

}
<div id="content">
    <div class="jarviswidget" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
            <h2>
                Cadastro de Parâmetros de Emissão de Notas Fiscais
            </h2>
        </header>
        <div>
            <div class="widget-body">
                @using (Html.BeginForm("SalvarDados", "ParametroNumeroNotaFiscal", FormMethod.Post, new { id = "parametroNumeroNotaFiscalForm" }))
                {
                    @Html.HiddenFor(x => x.Id, new { @id = "hdnParamentroNF" })

                    <div class="col-xs-12">

                        <div class="col-xs-6">
                            <label>Unidade:</label>
                            <br />
                            @Html.DropDownListFor(p => p.Unidade.Id
                            , new SelectList(ViewBag.ListaUnidade, "Id", "Nome")
                            , "Selecione uma unidade"
                            , new
                            {
                            @id = "Unidade",
                            name ="Unidade",
                            @onchange = "buscarParametroNFUnidade()"
                            ,
                            @class = "form-control chosen-select"
                            ,
                            data_placeholder = "Selecione uma unidade..."
                            })


                        </div>


                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="col-xs-12">
                            &nbsp;
                        </div>
                    </div>

                    <div class="col-xs-12">

                        <div class="col-xs-6">
                            @Html.LabelFor(x => x.ValorMaximoNota, "Valor máximo de nota para envio automático: (R$)", new { @class = "espacoControle" })
                            <br />
                            @Html.TextBoxFor(x => x.ValorMaximoNota,new {
                                @class = "form-control heightfield valmoney",
                                @autocomplete = "off",
                                @maxlength = "21"

                            })
                            @Html.ValidationMessageFor(x => x.ValorMaximoNota, "Campo deve ser preenchido!", new { @class = "text-danger" })

                        </div>

                        <div class="col-xs-6">

                            @Html.LabelFor(x => x.ValorMaximoNotaDia, "Valor máximo de nota do dia para envio automático (R$):", new { @class = "espacoControle" })
                            <br />
                            @Html.TextBoxFor(x => x.ValorMaximoNotaDia,new {
                                   @class = "form-control heightfield valmoney",
                                   @autocomplete = "off",
                                   @maxlength = "21"
                               })
                            @Html.ValidationMessageFor(x => x.ValorMaximoNotaDia, "Campo deve ser preenchido!", new { @class = "text-danger" })
                        </div>



                    </div>


                    <div class="col-xs-12 col-sm-12">
                        <div class="col-xs-12">
                            &nbsp;
                        </div>
                        <div class="col-xs-12">
                            &nbsp;
                        </div>
                    </div>

                    <div class="row margin-bottom-5">
                        <div class="pull-right margin-right-10">
                            <a class="btn btn-lg btn-danger" href="/parametronumeronotafiscal/index"><i class="fa fa-times"></i>&nbsp;Cancelar</a>
                        </div>
                        <div class="pull-right margin-right-10">
                            <button id="salvar" type="submit" class="btn btn-lg btn-primary"><i class="fa fa-save"></i> Salvar</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
